# [AI GENERATED] LLM: GitHub Copilot, Mode: Chat, Date: 2025-09-24
{{- if .Values.podDisruptionBudget.enabled }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "school-microservice.fullname" . }}
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "school-microservice.labels" . | nindent 4 }}
spec:
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "school-microservice.selectorLabels" . | nindent 6 }}
{{- end }}